
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="shared-styles-prueba.html">


<dom-module id="preview-cv">

  <template> 
    <style include="shared-styles-prueba">
      :host {
        --paper-card-background-color-info:  #5c8ad1;
        --paper-card-background-color-des:  #fff;
        --paper-light-green: #204b47;
        display: grid;
        grid-template-areas: "izquierda derecha";
        grid-template-columns: 35% 65%;
      }

    paper-progress.blue {
      --paper-progress-active-color: var(--paper-light-green);
    }

    .header-subtitle {
      margin: 0%;
      font-size: 18px;
      font-weight: bold;
    }

    .flex-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }   
    </style>

    <paper-card id="paper-card-prymary" heading="{{fullName}}" >
      <div class="card-content">
          <p class="header-subtitle">Informacion General</p> 
          <p>{{phone}}</p>
          <p>{{email}}</p>
          <template is="dom-if" if="{{availableToTravel}}">
            <p>Disponible para viajar</p>
          </template>
          <p class="header-subtitle">Skills</p>
          <template is='dom-repeat' items={{skills}}>
            <p>{{item.skillName}}</p>
            <paper-progress value="[[_progress(item.level)]]"  max="100"  class="blue"></paper-progress>
            <paper-slider 
              pin snaps max="3" 
              max-markers="3" 
              step="1"
              on-value-changed="_valueChanged" 
              value="{{item.level}}">
            </paper-slider>
          </template> 
           <p class="header-subtitle">Referencias</p>
          <template is="dom-repeat" items={{referencias}}>
            <p>{{item}}</p>
          </template>
      </div>
    </paper-card>

    <paper-card id="paper-card-secundary" >
      <div class="card-content">
        <div class="flex-between">
          <p class="header-subtitle">Perfil</p>
          <template is="dom-if" if="{{editText}}">
            <paper-icon-button icon="icons:check" on-click="_aceptar"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{!editText}}">
              <paper-icon-button icon="icons:create" on-click="_editar"></paper-icon-button>
          </template>
        </div>
        <template is="dom-if" if="{{editText}}">
          <paper-input value="{{text}}" > </paper-input>
        </template>
        <template is="dom-if" if="{{!editText}}">
          <p>{{text}}</p>
        </template>

        <div class="flex-between">
          <p class="header-subtitle">Experience</p>
          <template is="dom-if" if="{{editJobs}}">
            <paper-icon-button icon="icons:check" on-click="_aceptarJobs"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{!editJobs}}">
              <paper-icon-button icon="icons:create" on-click="_editarJobs"></paper-icon-button>
          </template>
        </div>
        <template is="dom-repeat" items={{jobs}}>  
          <template is="dom-if" if="{{editJobs}}">
            <paper-input value="{{item.title}}"> </paper-input>
            <paper-input value="{{item.companyName}}"> </paper-input>
            <paper-input value="{{item.startDateService}}"> </paper-input>
            <paper-input value="{{item.endDateSevice}}"> </paper-input>
          </template>
          <template is="dom-if" if="{{!editJobs}}">
            <p>{{item.title}} {{item.companyName}} {{item.startDateService}} {{item.endDateSevice}}</p>
          </template>
        </template>
          
        <p class="header-subtitle">Tools</p>
        <template is="dom-repeat" items="{{tools}}">
          <p>{{item}}</p>
        </template>
      </div>
    </paper-card>
  </template>


  <script>
    class PreviewCv extends Polymer.Element {
      static get is() { return 'preview-cv'; }
      static get properties() {
        return {
          fullName: {
            type: String
          },
          age: {
            type: Number
          },
          phone: {
            type: Number
          },
          email: {
            type: String
          },
          skills: {
            type: Array,
            value:[
            {'skillName':'JAVA', 'level':'2'},
            {'skillName':'HTML', 'level':'1'},
            {'skillName':'CSS', 'level':'1'},
            {'skillName':'JS', 'level':'3'}]
          },
          availableToTravel: {
            type: Boolean
          },
          referencias: {
            type: Array,
            value:['GFT México','BBVA']
          },
          editText:{
            type: Boolean,
            value: false
          },
          text:{
            type: String,
            value: 'ipsum dolor sit amet consectetur'
          },
          valueSlider:{
            type: Number,
            value: 0
          },
          jobs: {
            type: Array,
            value:[
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'},
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'},
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'},
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'}]
          },
          editJobs:{
            type: Boolean,
            value: false
          },
          tools: {
            type: Array,
            value:[
            'JSON',
            'JSON', 
            'JSON', 
            'JSON']
          }
        };
      }

      _progress = (item) => {
        let progress = 0;
        if(item == 1 || item == 0) {
          progress = 33;
        } else if(item == 2) {
          progress = 66;
        } else {
          progress = 100;
        }
        return progress;
      }

      _aceptar = () => {
        this.set('editText', !this.editText );
      }

      _editar = () => {
        this.set('editText', !this.editText );
      }

      _aceptarJobs = () => {
        this.set('editJobs', !this.editJobs );
      }

      _editarJobs = () => {
        this.set('editJobs', !this.editJobs );
      }

      _valueChanged =(e) =>{
        console.log( e);
      }

    }

    window.customElements.define(PreviewCv.is, PreviewCv);
  </script>
</dom-module>
