<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles-prueba">
  <template>
    <style>

    #paper-card-prymary {
      --paper-card-background-color: var(--paper-card-background-color-info, #5c8ad1);
    }

    #paper-card-secundary {
      --paper-card-background-color: var(--paper-card-background-color-des, #fff);
    }

    paper-card {
      --paper-card-header-text: {
        font-size: 20px;
      }
    }

      
    </style>
  </template>
</dom-module>
